
.loc{
    display: flex;
    gap:35px;
    color: black;
    font-weight: bold;
}
.file{
    display: flex;
    gap: 30px;
    justify-content: center;
   margin-top: 90px;
   color:black;
    font-weight: bold;
  
}
.mail{
text-transform: lowercase;
text-decoration: none;
color: black;
font-weight: bold;
}

.contact{
    height: 100vh;
    position: relative;
}
.contact-bg{
    width: 20px;
    height: 100%;
   position: absolute;
}
.contact-wrapper{
    padding: 50px;
    display: flex;

}
.contact-left{
    flex: 1;
}
.contact-right{
    flex: 1;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-title{
    font-size: 60px;
    width: 80%;
    margin-top: 30px;
}
.contact-info-item{
 display: flex;
  align-items: center;
  gap:20px;
  margin: 50px 0px;
  font-weight: 300;
  font-size: 35px;
  width: 70%;
 
}
.contact-icon{
width: 30px;
  height: 30px;
  margin-right: 20px;
   
}
.contact-icons{
     width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-btn{
    font-size: 35px;
}
.btn{
    font-size: 20px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}